* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    

    }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
   
    

}

.suv{
    width: 22em;
    height: 33em;
    padding: 3em;
    background-color:hsl(184, 100%, 22%);
    
}



.sedan {width: 22em;
    height: 33em;
    padding: 3em;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    
}



.luxurys {
    width: 22em;
    height: 33em;
    padding: 3em;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.imgcar {margin-bottom: 2em;}

h2 {
    color: hsl(0, 0%, 95%);
    margin-bottom: 1.2em;
    font-size: 34px;
    font-family: Big Shoulders Display ;
    letter-spacing: 0.1em;

}

p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    letter-spacing: 0.1em;
    
    
}
     
.button {
    
    border: none;
    background-color: hsl(0, 0%, 95%);
    width: 10em;
    height: 3.5em;
    border-radius: 3.125rem;
    font-size: 15px;
    font-family: Lexend Deca;
    margin-top: 5em;
    mix-blend-mode: screen;
    cursor: pointer;
    

}

.button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 0.125rem solid hsl(0, 0%, 95%) ;
}


        
@media only screen and (max-width: 48rem) {
    
